@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}

#title{
    background-color: #ff4c68;
}
#dog-h1{
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    /* font-family: 'Montserrat-Black'; */
    color: #fff;
}

.title-con{
    padding: 3% 15%;
}

/* Navbar  */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding:0 0 3.5rem;

}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

/* Download Button  */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */

#iphone-img{
    transform: rotate(19deg);
    /* width: 60%; */
    margin-top: 2rem;
    margin-left: 3rem;
    position: absolute;
}

/* feature css */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}
.features-col{
    text-align: center;
    padding: 5%;
}
.feature-icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.feature-icon:hover{
    color: #ff4c68;
}
.feature-heading{
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-size: 1.5rem;
}
.feature-description{
    color: #8f8f8f;
}

/* testimonials section */

#testimonials{
    background-color: #ef8172;
    text-align: center;
    position: relative;
    z-index: 1;
}
.testimonial-text{
    color: #fff;
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1100px){
    #iphone-img{
        transform: rotate(1deg);
        width: 60%;
        margin: 2rem 5rem;
        position: static;
    }
    #title{
        text-align: center;
    }
}
@media (min-width:1100px) and (max-width:1160px){
    #iphone-img{
        transform: rotate(1deg);
        margin-top: 2rem;
        margin-left: 6rem;
        position: static;
    
    }
}