@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap');

body {
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    padding: 0;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-Bold';
}

#title {
    text-align: left;
}

.big-heading {
    font-family: 'Montserrat-Black';
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
}

.padding-container {
    padding: 7% 15%;
}

#title .padding-container {
    padding: 3% 15%;
}

/* Navbar  */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 3.5rem;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light';
}

/* Download Button  */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */

#iphone-img {
    transform: rotate(19deg);
    margin-top: 2rem;
    margin-left: 3rem;
    position: absolute;
}

/* feature css */
#features {
    position: relative;
}

.features-col {
    padding: 5%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-heading {
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-description {
    color: #8f8f8f;
}

/* testimonials section */

#testimonials {
    background-color: #ef8172;
    position: relative;
    z-index: 1;
}

.testimonial-text {
    color: #fff;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

.pricing-heading {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.dog-breed {
    font-weight: bold;
}

.price-tag {
    font-weight: bold;
}

@media (max-width:1100px) {
    #iphone-img {
        transform: rotate(1deg);
        width: 60%;
        margin: 2rem 5rem 2rem 3rem;
        position: static;
    }

    #title {
        text-align: center;
    }

    .big-heading {
        font-size: 3rem;
        line-height: 1.5;
        font-family: 'Montserrat-Black';
        font-weight: bold;
    }
}

@media (min-width:1100px) and (max-width:1160px) {
    #iphone-img {
        transform: rotate(1deg);
        margin-top: 2rem;
        margin-left: 6rem;
        position: static;

    }
}

/* cta section */


/* footer section */

.media-link {
    text-decoration: none;
    color: #000;
    padding: 0.5rem 0.8rem;
}

.media-link:hover {
    color: #ff4c68;
}

#copyright {
    padding-top: 1rem;
    font-size: 0.8rem;
}

/* section background colors */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
    color: #000;
}